<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scaling.js"></script>
    <link rel="stylesheet" href="css/constant.css" />
    <link rel="stylesheet" href="template/2x2template.css" />
    <script src="js/constant.js"></script>
  </head>

  <body onchange="changeBackdrop()">

    <div id="sideNav" class="side-nav">
      <img class="close-icon" src="images/close.png" onclick="closeNav()" />
      <ul class="side-links">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="scotbowl.html">ScotBowl</a>
          </li>
          <li>
            <a href="events.html">Events</a>
          </li>
          <li>
            <a href="contactus.html">Contact Us</a>
          </li>
      </ul>
    </div>

    <div class="container">
      <header class="topbar">
        <img id="hamburger" class="hamburger" src="images/hamburger.png" onclick="openNav()" />
        <img class="logo" src="images/logo.png"  />
        <nav class="navbar">
          <ul class="links">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="scotbowl.html">ScotBowl</a>
            </li>
            <li>
              <a href="events.html">Events</a>
            </li>
            <li>
              <a href="contactus.html">Contact Us</a>
            </li>
          </ul>
        </nav>
    </header>
    </div>
    <div class="maincontent">
          <div class="title">  TITLE HERE </div>
          <div class="sep-line"></div>
          <div class="info">
              <div>
                <span class="subheader"> SUBHEADER 1 </span><br />
                 <span> TEXT </span>
              </div>
              <!-- TODO: add image  -->
              <img src="images/scotbowl1.jpg"/>
              <div>
                <span class="subheader"> SUBHEADER 2 </span><br />
                 <span> TEXT </span>
              </div>
              <!-- TODO: add image  -->
              <img src="images/scotbowl1.jpg"/>
          </div>

          <div class="button-temp">
            Optional Link Through Button
          </div>
        <div class="sep-line bottom-line"></div>
      </div>
  </body>

</html>
